<!DOCTYPE html>
<html>
  <head>
    <title>PdfSummarizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <nav class="bg-primary-subtle navbar navbar-expand-lg navbar-light px-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">PdfSummarizer</a>

        <div class="collapse navbar-collapse justify-content-end">
          <% if user_signed_in? %>
            <span class="navbar-text me-3">Welcome, <strong><%= current_user.email %></strong></span>
            <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary me-2" %>
            <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
