<!DOCTYPE html>
<html>
  <head>
    <title>PdfSummarizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type == "notice" ? "success" : "danger" %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    <% end %>
    <nav>
      <% if user_signed_in? %>
        <p>Welcome, <%= current_user.email %></p>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>

      <% else %>
        <%= link_to 'Sign Up', new_user_registration_path %> |
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
